<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_1" data-view="Pie" data-title="Pie Chart" data-moreinfo="Great for breakdowns" style="background-color:#dc5945;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="demo_2" data-view="Pie" data-title="Another Pie Chart" data-moreinfo="Works with up to 4 values" datastyle="background-color:#ff9618;"></div>
    </li>

  </ul>
</div>